# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Files used for debugging
.vscode/

# Files created by GoLand
.idea/

# File created running tests
tests/**/tmp/
tests/v2/lib-test-coverage.*


# Mac related files
.DS_Store

# Release utility changelog files
CHANGELOG.md

#Running tests 
docker-compose.yaml